/* Custom Styling for products slider */
/* Product Slider */
/* line 3, ../../src/scss/useful-products.scss */
.products-slider {
  position: relative;
  /* controls */
  /* four items per column */
}
/* line 5, ../../src/scss/useful-products.scss */
.products-slider *,
.products-slider *:before,
.products-slider *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* line 12, ../../src/scss/useful-products.scss */
.products-slider-wrapper {
  overflow: hidden;
  width: 100%;
  height: 256px;
  position: relative;
}
/* line 18, ../../src/scss/useful-products.scss */
.products-slider-item {
  transition-property: left, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease;
  position: absolute;
  left: 100%;
  top: 0;
  opacity: 0;
  list-style-type: none;
  /* demo slides */
}
/* line 28, ../../src/scss/useful-products.scss */
.products-slider-item figure {
  position: relative;
  width: 100%;
  padding: 10px;
}
/* line 32, ../../src/scss/useful-products.scss */
.products-slider-item figure img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto 0.5em;
}
/* line 38, ../../src/scss/useful-products.scss */
.products-slider-item figure figcaption {
  display: block;
  text-align: center;
}
/* line 45, ../../src/scss/useful-products.scss */
.products-slider-prev, .products-slider-next {
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  overflow: hidden;
  text-indent: 40px;
  position: absolute;
  top: 45%;
  margin-top: -16px;
  height: 32px;
  width: 32px;
}
/* line 59, ../../src/scss/useful-products.scss */
.products-slider-prev {
  background-image: url("../img/symbol_backward.svg");
  left: 0;
}
/* line 63, ../../src/scss/useful-products.scss */
.products-slider-next {
  background-image: url("../img/symbol_forward.svg");
  right: 0;
}
/* line 68, ../../src/scss/useful-products.scss */
.products-slider-item {
  width: 25%;
}
/* line 71, ../../src/scss/useful-products.scss */
.products-slider .psi {
  /* out of view (left) */
  /* in view (center) */
  /* out of view (right) */
}
/* line 73, ../../src/scss/useful-products.scss */
.products-slider .psi-0 {
  left: -25%;
  opacity: 0;
}
/* line 78, ../../src/scss/useful-products.scss */
.products-slider .psi-1 {
  left: 0;
  opacity: 1;
}
/* line 82, ../../src/scss/useful-products.scss */
.products-slider .psi-2 {
  left: 25%;
  opacity: 1;
}
/* line 86, ../../src/scss/useful-products.scss */
.products-slider .psi-3 {
  left: 50%;
  opacity: 1;
}
/* line 90, ../../src/scss/useful-products.scss */
.products-slider .psi-4 {
  left: 75%;
  opacity: 1;
}
/* line 95, ../../src/scss/useful-products.scss */
.products-slider .psi-5 {
  left: 100%;
  opacity: 0;
}

/* tablets */
@media (max-width: 768px) {
  /* line 103, ../../src/scss/useful-products.scss */
  .products-slider {
    /* two items per column */
  }
  /* line 105, ../../src/scss/useful-products.scss */
  .products-slider-item {
    width: 50%;
  }
  /* line 108, ../../src/scss/useful-products.scss */
  .products-slider .psi {
    /* out of view (left) */
    /* in view (center) */
    /* out of view (right) */
    /* unused */
  }
  /* line 110, ../../src/scss/useful-products.scss */
  .products-slider .psi-0 {
    left: -50%;
    opacity: 0;
  }
  /* line 115, ../../src/scss/useful-products.scss */
  .products-slider .psi-1 {
    left: 0;
    opacity: 1;
  }
  /* line 119, ../../src/scss/useful-products.scss */
  .products-slider .psi-2 {
    left: 50%;
    opacity: 1;
  }
  /* line 124, ../../src/scss/useful-products.scss */
  .products-slider .psi-3 {
    left: 100%;
    opacity: 0;
  }
  /* line 129, ../../src/scss/useful-products.scss */
  .products-slider .psi-4, .products-slider .psi-5 {
    opacity: 0;
  }
}
/* phones */
@media (max-width: 480px) {
  /* line 138, ../../src/scss/useful-products.scss */
  .products-slider {
    /* one item per column */
  }
  /* line 140, ../../src/scss/useful-products.scss */
  .products-slider-item {
    width: 100%;
  }
  /* line 143, ../../src/scss/useful-products.scss */
  .products-slider .psi {
    /* out of view (left) */
    /* in view (center) */
    /* out of view (right) */
    /* unused */
  }
  /* line 145, ../../src/scss/useful-products.scss */
  .products-slider .psi-0 {
    left: -100%;
    opacity: 0;
  }
  /* line 150, ../../src/scss/useful-products.scss */
  .products-slider .psi-1 {
    left: 0;
    opacity: 1;
  }
  /* line 155, ../../src/scss/useful-products.scss */
  .products-slider .psi-2 {
    left: 100%;
    opacity: 0;
  }
  /* line 160, ../../src/scss/useful-products.scss */
  .products-slider .psi-3, .products-slider .psi-4, .products-slider .psi-5 {
    opacity: 0;
  }
}
